@import "fonts";
@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,400;1,600&family=Inter:wght@400;500;600&family=Roboto+Mono:ital@0;1&family=Work+Sans:wght@300;400;500&family=Roboto+Condensed:wght@300;400;700&display=swap";
body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2 {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#main-header .search {
    top: 48px;
}

#main-content-wrap {
    top: 24px;
}

@media only screen and (min-width: 800px) {
    .site-header {
        display: none;
    }
}

@media (min-width: 50rem) and (min-width: 31.25rem) {
    .nav-list .nav-list-item {
        font-size: 13px !important;
    }
}

@media (min-width: 50rem) {
    .nav-list .nav-list-item {
        font-size: 13px !important;
    }
    .nav-list .nav-list-item .nav-list-link {
        min-height: 1.3em;
        line-height: 1.2em;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (min-width: 31.25rem) {
    .nav-list .nav-list-item {
        font-size: 13px !important;
    }
}

footer.site-footer {
    display: none;
}

a.fancybox {
    cursor: zoom-in;
    img {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    }
}

div.texteditor {
    font-size: 4em;
    color: black;
    margin: 1.5rem 0 1.5rem 0;
    line-height: 1.4em;
    border-width: 1px;
    border-radius: 4px;
    padding: 0.3rem 1rem;
    border-style: solid;
    border-color: rgba(1, 1, 1, 0.03);
    margin: 0px;
}

.main-content h1:first-child {
    margin-top: 2rem;
}