

@font-face {
  font-family: 'GG Baar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/baar.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Boto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/botowght-wdth-ital.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Cafe';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/cafe.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Club OFL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/club-var.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Cosm Italic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/cosm-italicwght.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Cosm';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/cosmwght.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Deco';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/deco.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Fest';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/fest.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Hint';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/hint.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Medi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/medi.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Ocra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/ocra.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Pixa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/pixa.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Plum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/plumwght.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Ptit OFL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/ptit.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Rafi OFL Italic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/rafi-italicwght.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Rafi OFL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/rafiwght.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Scig OFL Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/scig-var.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Star';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/star.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Stroke Chan OFL Italic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/stroke-chan.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Stroke Grot OFL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/stroke-grot.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Veni';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/veni.woff2) format('woff2');
}

@font-face {
  font-family: 'GG Vize';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/vize.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zoto-emoji.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zoto-kufiarabic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Armenian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-armenian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Avestan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-avestan.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Balinese';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-balinese.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Bamum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-bamum.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Batak';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-batak.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Brahmi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-brahmi.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Buginese';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-buginese.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Buhid';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-buhid.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Canadian Aboriginal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-canadianaboriginal.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Carian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-carian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Cham';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-cham.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Cherokee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-cherokee.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Coptic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-coptic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Cuneiform';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-cuneiform.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Cypriot';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-cypriot.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Deseret';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-deseret.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Egyptian Hieroglyphs';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-egyptianhieroglyphs.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Ethiopic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-ethiopic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Georgian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-georgian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Glagolitic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-glagolitic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-gothic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Gurmukhi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-gurmukhi.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Hanunoo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-hanunoo.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-hebrew.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Historic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-historic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Imperial Aramaic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-imperialaramaic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Inscriptional Pahlavi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-inscriptionalpahlavi.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Inscriptional Parthian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-inscriptionalparthian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Javanese';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-javanese.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Kayah Li';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-kayahli.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Kharoshthi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-kharoshthi.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Khmer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-khmer.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Lao';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-lao.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Limbu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-limbu.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Linear B';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-linearb.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Lisu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-lisu.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Lycian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-lycian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Lydian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-lydian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Mandaic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-mandaic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Meetei Mayek';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-meeteimayek.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Mongolian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-mongolian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans New Tai Lue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-newtailue.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans NKo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-nko.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Ogham';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-ogham.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Ol Chiki';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-olchiki.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Old Italic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-olditalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Old Persian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-oldpersian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Old South Arabian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-oldsoutharabian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Old Turkic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-oldturkic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Osmanya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-osmanya.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Phags Pa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-phagspa.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Phoenician';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-phoenician.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Rejang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-rejang.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Runic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-runic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Samaritan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-samaritan.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Saurashtra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-saurashtra.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Shavian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-shavian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Sundanese';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-sundanese.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Syloti Nagri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-sylotinagri.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Symbols';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-symbols.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Tagalog';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-tagalog.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Tagbanwa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-tagbanwa.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Tai Le';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-taile.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Tai Tham';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-taitham.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Tai Viet';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-taiviet.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Tamil';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-tamil.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Thaana';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-thaana.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Tifinagh';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-tifinagh.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Ugaritic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-ugaritic.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Vai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-vai.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Sans Yi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotosans-yi.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Serif Armenian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotoserif-armenian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Serif Georgian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotoserif-georgian.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Serif Khmer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotoserif-khmer.woff2) format('woff2');
}

@font-face {
  font-family: 'Zoto Serif Lao';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/zotoserif-lao.woff2) format('woff2');
}